{% extends 'core/wrapper.html' %}
{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ tags_form.as_p }}

            <button type="submit">submit</button>
        </form>
        {% for offer in orgs%}
            <ul>
                <li>
                    <a href="{% url 'organization' offer.name %}">{{ offer.name }}</a>
                    <p>{{ offer.description }}</p>
                </li>
            </ul>
        {% endfor %}
        {% for subcategory in subcategory.parent_layer.all %}
            <ul>
                <li>
                    <a href="{% url 'subcategory' subcategory.name %}">{{ subcategory.name }}</a>
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock content %}
